* {
  max-width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Playfair+Display|Alegreya|Source+Sans+Pro|Roboto'); 


#program-list
{
  width: 80%;
  margin: auto;
}

#body-container
{
  border-style: ridge;
  border-width: 1px;
  padding: 2.5%;
  overflow: auto;
  
  width: auto;
  height: auto;
  background: #F0F8FF;
  margin-bottom: 3%;
}

#committee
{
  /*border-style: double;
  border-radius: 0.5px;
  */
  height: auto;
  padding: 1em;
  margin: auto;
}

#committee-text
{
  font-size: 1vw;
  height: auto;
}

ul.committee {

  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  color: #000000;

  padding: 2rem;
  font-size: 1.5vw;
}

#text-committee
{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: lighter;
  font-size: 1vw;

  margin-top: 2%;
  margin-bottom: 5%;
  height: 10%;

  color: #000000;
}


#title
{
    /* Heading 1 */

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;

    /* dark blue */

    color: #3C507B;
}

#right {
  float: right;
  clear: both;
  margin: 1em;
}


#text-1
{
  font-family: Nunito Sans, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 1vw;
  margin-top: 2%;
  color: #000000;
}

.what-do-we-do {
  background-image: linear-gradient(
      rgba(0,0,0,0.5), 
      rgba(0,0,0,0.5)
    ), url('../pictures/2019_bonfire.jpg.jpg');
    padding-top: 38.2%;
    background-size: cover;
    background-position: 50% 38%;
}

#text-service {
  font-family: Nunito Sans, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 1vw;
  margin-top: 2%;
  width: 50%;
  float: left;
  color: #000000;
}

.what-do-we-do-title {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 5vw;
  color: #F2FAFF;
  padding-left: 105px;
  padding-bottom: 2%;
  margin-top: -30%;
}

.what-do-we-do-body {
  padding-right: 100px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 30px;
  color: #D9E9FF;
  padding-left: 193px;
  padding-bottom: 10%;
}

.subheading {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 3vw;
  color: navy;
  text-align: left;
  margin-top: 4%;
  margin-bottom: 3%;
}

.committee_pic
{
  display: none;
}

.program-carousel1{
  margin-top: 1em;
  margin-bottom: 1em;
  width: 40%;
  float: right;
}

@media only screen and (max-width: 1080px)
{
  #right
  {
    display: none;
  }
}

@media only screen and (max-width: 1420px)  {
    .what-do-we-do-title {
      font-size: 8vw;
    }

    .what-do-we-do-body {
      padding-top: 10px;
      padding-left: 105px;
      font-size: 16px;
      line-height: 20px;
    }
}

@media only screen and (max-width: 825px) {
  .what-do-we-do-title {
    line-height: 50px;
  }
}

@media only screen and (max-width: 540px) {
  .what-do-we-do-title {
    margin-top: -35%;
    padding-left: 50px;
  }

  .what-do-we-do-body {
    padding-left: 50px;
  }
}