*{
    margin: 0px; 
  }
  @import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Playfair+Display|Alegreya|Source+Sans+Pro|Roboto'); 
  
  .menu{
    display: flex; 
    flex-direction: row; 
    color: #F2FAFF; 
    width: 60%; 
    justify-content: space-around; 
    font-size: 18px; 
    margin-top: auto;
    margin-bottom: auto; 
  }

  .menu-item:hover{
    color:white; 
    text-decoration: underline; 
    cursor: pointer;
  }

  .body-1-wrapper{
    /* background-color: #F2FAFF;  */
    padding: 5%;
    background-color: rgba(0,0,0,0.7); 
    background-image: linear-gradient(
        rgba(0,0,0,0.7), 
        rgba(0,0,0,0.7)
      ), url('./pictures/2020_broomball3.jpg');
    background-size: cover;  
  }

  .body-1-title{
    width: 70%;
    height: auto;
    margin-left: 4%;
    font-size: 6vw; 
    font-family: 'Roboto';
    font-weight: bolder;
    color: white; 
  }

  .body-1-title-caption{
    margin-left: 5%; 
    margin-top: -1%;
    font-family: 'Nunito Sans', serif;
    font-weight: lighter; 
    font-style: italic;
    font-size: 2vw; 
    color: white; 
  }

  .body-1-text{
    padding: 10px; 
    font-family: 'Nunito Sans', serif;    
    font-size: 1.5vw; 
    color: white; 
    width: 80%; 
    margin-left: 3.5%;
    margin-bottom: 5%;
  }

  .button-wrap{
    text-align: center; 
  }

  .body-1-button{
    font-family: 'Roboto';
    background-color: #3C4856; 
    border-radius: 10px; 
    border: 1px solid #000000;
    font-size: 1.5vw; 
    padding-left: 3%; 
    padding-right: 3%; 
    padding-top: 1%; 
    padding-bottom: 1%; 
    color: white; 
    margin-left: auto; 
    margin-right: auto; 
  }

  .body-1-button:hover{
    opacity: 0.6;
  }
  
  .body-1-button:hover{
    text-decoration: underline; 
    cursor: pointer;
  }

  .page-wrapper {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .body-2-wrapper{
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .body-2-title{
    font-family: 'Roboto';
    font-size: 4vw; 
    text-align: center; 
    color:navy; 
    font-style: italic;
    margin-top: 5%;
    margin-bottom: -4%;
    
  }

  .body-2-text-1{
    font-size: 1vw; 
    font-family: 'Nunito Sans', serif;  
    margin-top: -1%;  
  }

  .body-2-text-2{
    font-size: 1.5vw; 
    font-family: 'Nunito Sans', serif;   
    text-align: left; 
    width: 100%; 
    color: #0B3C5D; 
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .aboutcarousel {
    margin-top: 5%;
    width: auto;
    height: 50%;
    background-color: #000000;
  }

  .body-3{
    margin-bottom: 10%; 
  }

  .body-3-wrap{
    display: flex; 
    flex-direction: column;
  }

  .body-3-title{
    font-family: 'Roboto';
    font-size: 4vw; 
    text-align: center; 
    color: navy; 
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 10%;
  }

  .pillar{
    text-align: center; 
    background-color: #D9E9FF; 
    margin-bottom: 1%;
  }

  .pillar-text-1{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #3C507B; 
    font-size: 2vw;
    padding-left: 3%;
    padding-top: 3%; 
    text-align: left; 
  }

  .pillar-text-2{
    font-family: 'Nunito Sans', sans-serif;
    color: black; 
    font-size: 1vw; 
    text-align: left; 
    padding: 3%;
    padding-left: 5%;
  }

  .sponsors {
    margin-bottom: 10%;
  }

  .sponsors-title{ 
    font-size: 4vw; 
    color: navy;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: 3%;
  }

  .img-sponsor{
    width: 40%; 
    height: auto; 
    padding: 1%;
    margin-left: 20%;
    margin-right: auto;
    vertical-align: middle;
  }

  .sponsor-row{
    display: flex; 
    flex-direction: row; 
    justify-content: auto;
    background-color:  #D9E9FF;
  }

  .sponsor-column{
    flex: 33.33%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
  }
  