.Collapsible {
    margin-top: 1%;
}
#benefits {
    font-family: Nunito Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    text-align: left;
    padding-left: 3%;
    padding-top: 2%;
    margin-top: 2%;
    background-color: #D9E9FF;

    /* width: 80%;
    margin-left: 10%; */

    color: #000000;
}

.faq {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 30px;

    background-color: #D9E9FF;

    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 3%;

    width: auto;
}

.faq-header {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2vw;
    line-height: 5%;
    text-align: left;

    color: navy;

    padding-right: 3%;
    padding-top: 10%;
}

.faq-q {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 5%;

    text-align: left;

    color: #3C507B;

    border-bottom: 1px #3C507B solid;
    padding: 2%;
    padding-top: 5%;

    margin-left: 7%;
    margin-right: 7%;
}

.faq-a {
    font-family: Nunito Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1vw;

    text-align: left;

    color: #000000;

    padding: 1%;
    padding-left: 10%;

    margin-left: 7%;
    margin-right: 7%;
}