

.Collapsible {
    background-color: #EBEEFF;
    color: #3F004B;
    cursor: pointer;
    font-size: 1.5vw;
    font-family: Nunito Sans;
    font-style: italic;
    text-align: center;
    width: 100%;
    border: 0.5pt solid #000000;
    padding: 0;
}

.Collapsible__trigger {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.active, .Collapsible:hover {
    background-color: #4B0032;
    color:  #EBEEFF;
}

.TWR_coord {
    width: 50%;
    display: float;
    float: left;
    margin: auto;
    padding-top: 3%;
}

#TWR_coord-background {
    background-color: #4B0032;
}

#TWR_coord-picture {
    width: 80%;
    float: center;
    padding: 0.5%;
    background-color: #000000;
}

.TWR_coord-bio {
    width: 90%;
    display: float;
    float: right;
    font-family: Nunito Sans;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    font-size: 1vw;
    padding: 2%;
}